/* Global styles */
/* * {
    background-color: yellow;
} */

/* ########### Body, Header, Footer ##########*/
body{
    /*remove default margin and padding*/
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    /*font: 16px / 1.5 Tahoma, Geneva, sans-serif;*/

    background-color: #F4F4F4;
}

.container{
    width:80%;
    margin:auto;
    overflow: hidden;  /* No scroll bars if the text is long. Hide the text */
    /*border: blue 1px solid;*/
}

header{
    background-color: #262B2F;
    color: #FFFFFF;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #E8491D 3px solid;/**/
}

.silver-background_rounded{
    padding: 10px;
    background-color: #515559;
    border-radius: 10px;
}

footer{
    padding: 10px 0 10px 0;
    color:#FFFFFF;
    background-color: #E8491D;
    text-align: center;
}

/* ########### Navigation ##########*/

header ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height:30px;
    background-color: #E8491D;
    border: 0;
    padding: 0 10px 0 10px;
    color: #FFFFFF;
    font-weight: bold;
}

header li{
    float:left;
    display:inline;
    padding: 0 10px 0px 10px;
    }

header a{
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    }


header .highlight, header .currentnav a{
    color: #E8491D;
    font-weight: bold;
}

header a:hover{
    color: #CCCCCC;
}

header nav{
    float: right;
    /*border: yellow 1px solid; */
    margin-top: 10px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin:0;
    padding:0;
}



/* Page Specific styles */

/* ############# HOME PAGE ################*/
#showcase{
    /* background-image: url("../images/background_2.png"); */
    background-image: linear-gradient(to right top, #3a1c71, #49237c, #592b88, #683293, #783a9e, #883b9e, #973c9e, #a53e9e, #b23b92, #bb3b85, #c23d79, #c6426e);
    opacity: 85%;
    background-repeat:no-repeat;
    background-position: bottom right;
    min-height: 300px;
    color: #FFFFFF;
    text-align: center;

}

#showcase h1{
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#showcase p{
    font-size: 18px;
}

#newsletter{
    color:#FFFFFF;
    background-color: #262B2F;
    padding:15px 0;
}

#newsletter h3{
    float: left;
    padding: 5px 0;
    margin: 0;
}

#newsletter form{
    float: right;
}

#newsletter input[type="email"]{
    padding: 4px;
    width: 250px;
    height: 20px;
}


#productboxes{
    margin-top: 20px;
}

#productboxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#productboxes .box img{
    width: 90px;
    height: 80px;
    padding: 10px;
}

#productboxes .box p{
    font-size: 14px;
}


/* ############# About Page ######### */
article#about_main_article{
float: left;
width: 65%;
}

aside#about-sidebar{
float: right;
width: 30%;
margin-top: 15px;
}

aside#about-sidebar p{
font-size: 12px/1.5;
}

/* ############# Services Page ######### */
article#services_main_article{
    float: left;
    width: 65%;
}

aside#services-sidebar{
float: right;
width: 30%;
margin-top: 15px;
}

#services-sidebar input, #services-sidebar textarea{
    padding: 5px;
    width: 90%;
}

ul#services{
    margin: 0;
    padding: 0;
}

ul#services li{
    list-style: none;
    background: #CCCCCC;
    border: #E6E6E6 1px solid;
    padding: 10px;
    margin-bottom: 5px;
}

/*****######## MEdia Queries ####*/
@media (max-width:768px) {
    header #branding, header nav, header nav li, #newsletter h3, #newsletter form, article#about_main_article, aside#about-sidebar, article#services_main_article, aside#services-sidebar
    {
        float: none;
        width: 100%;
        text-align: center;
    }

    section#showcase p{
        font-size: 15px;
    }

    #newsletter input[type="email"]{
        width: 100%;
        margin-bottom: 5px;
    }

    #newsletter button{
        width: 100%;
        display: block;
    }

    #productboxes .box{
        float: none;
        width: 100%;
        padding: 10px;
    }

    aside#about-sidebar, aside#services-sidebar{
    margin-bottom: 15px;
    }
}
